RFC violation

Section 14.10 of RFC 2616 / 6.1 of RFC 7230 does have a rule for header stripping, it is not implemented.

The headers should be passed to the backend processess but then stripped if 204 is used and removed if still present from the response.
